.leaderboard {
  text-align: center;
  margin-top: -53%;
  margin-left: 80px;
}

/* .columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  width: 73.33%;
} */

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 40px;
  margin-left: 160px;
}

th,td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0b0b4c32;
}
tr{
  /* margin-right: 30px; */
  margin-left: 150px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
